# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build output
dist/
build/

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore IDE specific files and directories
.idea/
.vscode/

# Ignore miscellaneous files
*.swp
.DS_Store
